header {
    @extend %flex-space;
    padding: 2em 0em 2em 0em;
    margin: auto;
    width: 85%;

    @media screen and (max-width: $mediatablette) {
        width: 90%;
    }

    @media screen and (max-width: $mediamobile) {
        width: 90%;
    }

    & img {
        height: 68px;


        @media screen and (max-width: $mediatablette) {
            height: 46.881px;
        }

        @media screen and (max-width: $mediamobile) {
            height: 46.881px;
        }
    }

    & nav ul {
        display: flex;

        & .Accueil {
            padding-right: 6em;

            @media screen and (max-width: $mediatablette) {
                padding-right: 1em;
            }

            @media screen and (max-width: $mediamobile) {
                padding-right: 1em;
            }
        }

        & li {
            display: flex;

            @media screen and (max-width: $mediatablette) {
                padding: 0.5em;
            }

            @media screen and (max-width: $mediamobile) {
                padding: 0.5em;
            }
        }

        & a {
            color: $rouge;
            font-weight: 500;
            text-decoration: none;
            font-size: 24px;


            @media screen and (max-width: $mediatablette) {
                font-size: 12px;
                text-transform: uppercase;
            }

            @media screen and (max-width: $mediamobile) {
                text-transform: uppercase;
            }
        }

        & .active {
            text-decoration: underline;
        }

    }
}