@import "./Utils/Variables.scss";
@import "./Utils/Font.scss";
@import "./Utils/Keyframes.scss";
@import "./Utils/Mixins.scss";
@import "./Utils/PlaceHolders.scss";

@import "./Components/Banner.scss";
@import "./Components/Card.scss";
@import "./Components/Collapse.scss";
@import "./Components/Slideshow.scss";


@import "./Layouts/Header.scss";
@import "./Layouts/Main.scss";
@import "./Layouts/Footer.scss";